.service{
    display: flex;
    padding: 4rem 0;
    padding-left: 6rem;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 15px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 2rem 0;
}

.primary{
    font-size: 18px;
    font-weight: 500;
    color: rgb(7, 181, 59);
    line-height: 28px;
    width: 40%;
    margin-bottom: 1rem;
}

.secondary{
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    color: rgb(119, 119, 119);
    text-align: justify;
    margin-bottom: 2rem;
}

.button{
    border: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    gap: 10px;
    padding: 1rem;
    border-radius: 5px;
}

.button:hover{
    background-color: rgb(7, 181, 59);
    color: white;
}

/* .right{
    border: 1px red solid;
} */


.imageContainer{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.imageContainer img{
    position: absolute;
    left: -4.6%;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .service{
        /* display: block; */
        flex-direction: column;
        padding: 2.4rem;
    }

    .left{
        order: 2;
        width: 100%;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .title{
        font-size: 22px;
        line-height: 26px;
        margin: 2rem 0;
    }

    .primary{
        font-size: 14px;
    }
    .secondary{
        font-size: 14px;
        line-height: 24px;
    }

    .button{
        font-size: 13px;
        line-height: 46px;
        padding: 0 0.5rem;
    }

    .right{
        order: 1;
        position: static;
    };



    /* .imageContainer{
        border: 1px red solid;
    } */
}